SAP-API Hash.json
[
    {
        "id": "2676c647950e6a50",
        "type": "subflow",
        "name": "SAP-API Hash",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "f3d04762c250c19f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "CommunityID",
                "type": "str",
                "value": "sabarna17"
            },
            {
                "name": "topic",
                "type": "str",
                "value": "Task-N"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cb5f9176afe220eb",
        "type": "function",
        "z": "2676c647950e6a50",
        "name": "Encode & Modify HASH URL",
        "func": "msg.url = \"https://developer-challenge.cfapps.eu10.hana.ondemand.com/v1/hash(value='\" + encodeURIComponent(msg.payload) + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            [
                "9404eed595446ba1",
                "a8894fb198e6b8ad"
            ]
        ]
    },
    {
        "id": "9404eed595446ba1",
        "type": "http request",
        "z": "2676c647950e6a50",
        "name": "GET Method to Hash your String",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "CommunityID",
                "valueType": "msg",
                "valueValue": "CommunityID"
            }
        ],
        "x": 890,
        "y": 40,
        "wires": [
            [
                "0b6bdd7085e2d059"
            ]
        ]
    },
    {
        "id": "a8894fb198e6b8ad",
        "type": "debug",
        "z": "2676c647950e6a50",
        "name": "Display URL for Hash",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1a8fa2ecfdd69a6",
        "type": "inject",
        "z": "2676c647950e6a50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "CommunityID",
                "v": "CommunityID",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "string_for_hash",
        "payloadType": "flow",
        "x": 190,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0b6bdd7085e2d059",
        "type": "debug",
        "z": "2676c647950e6a50",
        "name": "Display Hash Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3d04762c250c19f",
        "type": "change",
        "z": "2676c647950e6a50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "string_for_hash",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "CommunityID",
                "pt": "msg",
                "to": "CommunityID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "a8f367ce948a7806"
            ]
        ]
    },
    {
        "id": "a8f367ce948a7806",
        "type": "switch",
        "z": "2676c647950e6a50",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "1b0cccf6856fdcb6"
            ],
            [
                "cb5f9176afe220eb"
            ],
            [
                "1b0cccf6856fdcb6"
            ]
        ]
    },
    {
        "id": "e9045c1cb34131ed",
        "type": "debug",
        "z": "2676c647950e6a50",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b0cccf6856fdcb6",
        "type": "change",
        "z": "2676c647950e6a50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Blank Payload. Please validate String.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "e9045c1cb34131ed"
            ]
        ]
    }
]
