task-11.json
[
    {
        "id": "c0c2692402e8b5bd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d1bf58f992d900a",
        "type": "oauth2",
        "z": "c0c2692402e8b5bd",
        "name": "",
        "container": "payload",
        "grant_type": "password",
        "access_token_url": "https://afa6fcfftrial-ga.authentication.eu10.hana.ondemand.com/oauth/token",
        "authorization_endpoint": "",
        "redirect_uri": "/oauth2/redirect_uri",
        "open_authentication": "",
        "username": "sabarna17@gmail.com",
        "password": "Riya@1993",
        "client_id": "sb-ut-649825c8-b38d-4ba7-9a33-b531ef01254e-clone!b266629|cis-central!b14",
        "client_secret": "f695ad3b-a940-4999-8552-d256d30a293b$K2v4zJZm2cBZi0X48LJJ9kgnIeXLYnYRwY30mKOAXT8=",
        "scope": "",
        "proxy": "",
        "senderr": false,
        "client_credentials_in_body": false,
        "rejectUnauthorized": true,
        "headers": {},
        "x": 330,
        "y": 80,
        "wires": [
            [
                "751f7848c37ab1bb"
            ]
        ]
    },
    {
        "id": "ac98d5cdb4b18e52",
        "type": "debug",
        "z": "c0c2692402e8b5bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "a823b4d46fe0e065",
        "type": "inject",
        "z": "c0c2692402e8b5bd",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "3d1bf58f992d900a"
            ]
        ]
    },
    {
        "id": "751f7848c37ab1bb",
        "type": "npm",
        "z": "c0c2692402e8b5bd",
        "name": "",
        "func": "return { \n    'header': npm_module(msg.payload.access_token, { header: true }), \n    'body': npm_module(msg.payload.access_token) \n};",
        "npm_module": "jwt-decode",
        "module_style": "custom",
        "msg_payload": "return_val",
        "function_name": "jwt_decode",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "db858138968b06ae"
            ]
        ]
    },
    {
        "id": "db858138968b06ae",
        "type": "function",
        "z": "c0c2692402e8b5bd",
        "name": "Set String URL",
        "func": "var mystring = msg.payload.header.alg + \":\" + msg.payload.header.typ + \":\" + msg.payload.body.scope.length;\nmsg.url = \"https://developer-challenge.cfapps.eu10.hana.ondemand.com/v1/hash(value='\" + mystring + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "ac98d5cdb4b18e52",
                "02e92604f5ebb529"
            ]
        ]
    },
    {
        "id": "02e92604f5ebb529",
        "type": "http request",
        "z": "c0c2692402e8b5bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "CommunityID",
                "valueType": "other",
                "valueValue": "sabarna17"
            }
        ],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "ac98d5cdb4b18e52"
            ]
        ]
    }
]
